@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Kaushan+Script&family=Montserrat:wght@700&family=Roboto&display=swap');
body{
    background-color: #ffffff;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Roboto', sans-serif;

}
a{
    color: #6e7177;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
a:active{
    color: bisque;
}
a:visited{
    color: rgb(163, 198, 178);
}
.textfirst{
    color: rgb(56, 107, 75);
}
.avatar{
    border-radius: 100px;
    box-shadow: 10px 10px 18px rgba(0,0,0,0.60);
    border-left: 15px solid #4d7556;
    border-top: 5px solid #618f6c;
}
.info p{
    color: #4f4a4a ;
    margin: 10px;
    font-style: italic;
    font-family:'Roboto', sans-serif;
  
   
}


.info{
    display: flex;
    margin-bottom: 20px;
}
.info-text{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: large;
}
@media (max-width:700px){
    .info{
        text-align: center;
        display: block;
        
    }

}
.info-text h4{
    margin-bottom: 10px;
}
/* Box Model*/

.container{
    max-width: 750px;
    margin: auto;
    padding-top: 40px;
}

.bd-yelloy{
    background: #82e0b1;
}
.bd-red{
    background:  rgb(104, 183, 132);

}
.bd-green{
    background:#85bf92
}

.card{
    padding: 15px 20px;
  
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.40);
}
.card h2{
    margin-bottom: 20px;
}
.list{
    padding: 0 20px;

}
.list li{
    color:#474747;
    margin-bottom: 10px;
}
.hobby{
    color: #000000;
}
.table{
    width: 100%;
}
.table td{
  padding-bottom: 10px;
}
.table td:nth-child(2),table td:nth-child(3){
    color: gray;
}
.linl-list{
    list-style: none;
    padding: 0;
}
.linl-list li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}
.Contact{
    text-align: center;
}
.form-group label{
    display: block;
    font-size: 14px;
    color: #6e7177;

}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}
.send input{
    width: 120%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}
.row{
    display: flex;
    margin-bottom: 20px;
}
.row > .form-group{
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child{
    margin-right: 0;
}
.send input{
    justify-content: right;
    width: 15%;
   background-color:  rgb(200, 147, 161);
   color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  font-family:cursive;
  border: none;
  

}
.send input:hover{
    opacity: 0.9;
    background-color: #dd0b0b;
}
.position{
    

}
.box{
   
    bottom: 50%;
    position: fixed;
    left: 50px;
    width: 50px;
    height: 50px;
    background: rgb(163, 234, 173);
    border: #82e0b1;
}